body{
    margin: 0;
}
#home-wrapper{
    overflow: hidden;
    width: 100%;  
    background-color: beige;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 10vh 50vh 30vh 70vh 10vh; /*jag vet att det inte blir 100 men jag vill att man ska scrolla lite */
    grid-template-areas:
    'hd hd'
    'nv nv'
    'sc1 sc2'
    'ar1 ar2'
    'img img'
    'ft ft';
}
#forum-wrapper{
    overflow: hidden;
    background-color: beige;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 20vh 10vh 60vh 10vh;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'f-sc as'
    'ft ft';
}
#about-wrapper{
    overflow: hidden;
    background-color: beige;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 10vh;
    grid-template-areas:
    'hd'
    'nv'
    'card'
    'ft';
}
header{
    grid-area: hd;
    background-color: #e74c3c;
    text-align: center;
    font-size: 1rem;
}
nav{
    grid-area: nv;
    background-color: wheat;
    display: flex;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
}
aside{
    grid-area: as;
    background-color: #e74c3c;
    color: whitesmoke;
    font-family: Bahnschrift;
    padding: 10px;   
}
footer{
    grid-area: ft;
    text-align: center;
    background-color: #e74c3c;
    position: relative;
    width: 100vw;
}
a{
    text-decoration: none;
    color: black;
}
.title{
    color: whitesmoke;
    text-shadow: 2px 3px 3px black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pfp{
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border-style: hidden;
}
.card-image{
    height: 200px;
    width: 150px;
}
.card{
    background-color: #e74c3c;
    color: whitesmoke;
    padding: 1%;
    margin: 1%;
    flex: 20%;
    text-align: center;
}
#landing_section1{
    grid-area: sc1;
    text-align: center;
    font-size: 1.5rem;
    background-image: url(../img/clothe.jpg); /* placeholder */
    background-size: cover;
}
#landing_section2{
    grid-area: sc2;
    text-align: center;
    font-size: 1.5rem;
    background-image: url(../img/bowie-shirt.png); /* placeholder */
    background-size: cover;
}
#landing-article1{
    grid-area: ar1;
    background-color: #e74c3c;
    font-family: Bahnschrift;
    padding: 1%;
}
#landing-article2{
    grid-area: ar2;
    background-color: #e74c3c;
    font-family: Bahnschrift;
    padding: 1%;
}
#images{
    overflow: hidden;
    grid-area: img;
    display: flex;
    justify-content: space-around;
}
#questions{
    height: 60vh;
    overflow: auto;
}
#forum-section{
    grid-area: f-sc;
    background-color: wheat;
    color: black;
    font-family: Bahnschrift;
    margin: 1%;
    padding: 1%
}
#cards{
    grid-area: card;
    font-family: Bahnschrift;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1%;
}