body{
    margin: 0;
}
#wrapper1{
    /* overflow: hidden; */
    width: 100vw;  
    background-color: beige;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 10vh 50vh 30vh 30vh 10vh; /*jag vet att det inte blir 100 men jag vill att man ska scrolla lite */
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'sc1 sc1 sc2 sc2'
    'ar1 ar1 ar2 ar2'
    'sc3 sc4 sc5 sc6'
    'ft ft ft ft';
}
#forum-wrapper{
    overflow: hidden;
    background-color: beige;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 20vh 10vh 20vh 5vh 20vh 10vh;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'f-sc1 as'
    'f-sc2 as'
    'f-sc3 as'
    'f-sc4 as'
    'ft ft';
}
header{
    grid-area: hd;
    background-color: #e74c3c;
    text-align: center;
    font-size: 1rem;
}
nav{
    grid-area: nv;
    background-color: wheat;
    display: flex;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
}
aside{
    grid-area: as;
    background-color: #e74c3c;
    color: whitesmoke;
    font-family: Bahnschrift;
    padding: 10px;   
}
footer{
    grid-area: ft;
    text-align: center;
    background-color: #e74c3c;
    position: relative;
    width: 100vw;
}
a{
    text-decoration: none;
    color: black;
}
.title{
    color: whitesmoke;
    text-shadow: 2px 3px 3px black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    max-width: 100%;
}
#landing_section1{
    grid-area: sc1;
    text-align: center;
    font-size: 1.5rem;
    background-image: url(../img/clothe.jpg); /* placeholder */
    background-size: cover;
}
#landing_section2{
    grid-area: sc2;
    text-align: center;
    font-size: 1.5rem;
    background-image: url(../img/peakblind.jpg); /* placeholder */
    background-size: cover;
}
#article1{
    grid-area: ar1;
    background-color: #e74c3c;
    font-family: Bahnschrift;
    padding: 1%;
}
#article2{
    grid-area: ar2;
    background-color: #e74c3c;
    font-family: Bahnschrift;
    padding: 1%;
}
#landing-section3{
    grid-area: sc3;
    background-image: url(../img/clothe.jpg); /* placeholder */
    background-size: cover;
}
#landing-section4{
    grid-area: sc4;
}
#landing-section5{
    grid-area: sc5;
    display: flex;
    justify-content: center;
}
#landing-section6{
    grid-area: sc6;
    display: flex;
    justify-content: center;
}
#questions{
    height: 60vh;
    overflow: auto;
}
#forum-section1{
    grid-area: f-sc1;
    background-color: wheat;
    color: black;
    font-family: Bahnschrift;
    margin: 1%;
    padding: 1%
}
#forum-section2{
    grid-area: f-sc2;
    background-color: wheat;
    color: black;
    font-family: Bahnschrift;
    margin: 1%;
    padding: 1%
}
#forum-section3{
    grid-area: f-sc3;
    background-color: wheat;
    color: black;
    font-family: Bahnschrift;
    margin: 1%;
    padding: 1%
}
#forum-section4{
    grid-area: f-sc4;
    background-color: wheat;
    color: black;
    font-family: Bahnschrift;
    margin: 1%;
    padding: 1%
}